<%- include('./partials/head') %> 
<header id="header">
    <div id="logo"><a href="/"><img src="assets/img/logo.svg" alt=""></a></div>
    <nav>
        <ul>
            <li><a href="/work">Work</a></li>
            <li><a class="about_unterlind" href="/about">About</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/thinking">Thinking</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div id="menu"><img src="assets/img/menu.svg" alt="" onclick="showHam()"></div>
</header>

<h1 id="p_404">404</h1>

<%- include('./partials/footer2') %> 