<%- include('./partials/head') %> 


    <section id="hamburger" class="unshow"></section>
    <header id="header">
        <div id="logo"><a href="/"><img src="assets/img/logo_pink.svg" alt=""></a></div>
        <nav>
            <ul>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/thinking">Thinking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="menu"><img src="assets/img/menu_pink.svg" alt="" onclick="showHam()"></div>
    </header>
    <main>
        <section  id="hero_about">
            <h1>WE TURN CULTURAL VALUE</h1>
            <h1 id="into_about"><span class="dot_about"></span> INTO COMPANY VALUE</h1>
            <h4>BASIC® is an independent branding & experience design company working at the intersection of culture, design, and technology. We value our craft, have a deep passion for progression, and exist to solve challenges for brands we believe in. Since the beginning, our mission has been to do great work and to have a great time doing it. We believe our mission has guided us well.</h4>
            <hr>
        </section>
        <section>
            <article  id="bilder">
                <figure>
                    <img src="assets/img/About-Gallery_4.jpg" alt="">
                    <figcaption>
                        <p>(01)</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="assets/img/About-Gallery_2.jpg" alt="">
                    <figcaption>
                        <p>(02)</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="assets/img/About-Gallery_3.jpg" alt="">
                    <figcaption>
                        <p>(03)</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="assets/img/About-Gallery_1.jpg" alt="">
                    <figcaption>
                        <p>(04)</p>
                    </figcaption>
                </figure>
                <p>EASY TO UNDERSTAND. IMPOSSIBLE TO IGNORE.™ BASIC®, INC 10 - 20©</p>
            </article>
        </section> 
        
        <section id="basic_about">
            <hr>
            <h1>BASIC®</h1>
            <hr>
        </section>
        <section class="grid">
            <div><p>SEC.</p></div>
            <div><p>/A</p></div>
            <div id="point"><span>&#8226</span></div>
            <div>
                <h3>AGENCY SNAPSHOT</h3>
            </div>
            <div>
                <h4>People</h4>
                <h2>100+</h2>
                <p>We're a world-class team of diverse individuals who are here to do great work as well as be great to work with. Explore our culture manual.</p>
            </div>
            <div>
                <h4>Offices</h4>
                <h2>03</h2>
                <p>San Diego, The Bay Area, and St. Louis. Feel free to reach out and say hello :)</p>
            </div>
            <div id="y_10">
                <h4>Years</h4>
                <h2>10</h2>
                <p>While we’re proud of our history and our accomplishments, we’re loyal to our future and not our past.</p>
            </div>
            <div>
                <h4>Growth</h4>
                <h2>168%</h2>
                <p>As Adweek’s 18th fastest growing agency, we’ve strengthened our company with new leadership, talent, and clients the past two years. We’re hiring btw.</p>
            </div>
            <div id="y_5">
                <h4>Service</h4>
                <h2>05</h2>
                <p>Strategy. Brand Experience. Digital Experience. Content. Technology. We’re uniquely built to build brands that matter in culture.</p>
            </div>
            <div>
                <h4>Ranking</h4>
                <h2>01</h2>
                <p>Within the mobile and website related categories, no other agency has been recognized by the Webby Awards more than us the past 3 years. Explore our work.</p>
            </div>
        </section>   
        <hr>
       
        <section class="grid">
            <div><p>SEC.</p></div>
            <div><p>/B</p></div>
            <div id="point"><span>&#8226</span></div>
            <div>
                <h3>CAPITABILITIES</h3>
            </div>
            <div>
                <h4>Strategic Planning</h4>
                <p>Customer Experience <br>
                    Consumer Insights + Trends <br>
                    Omnichannel + D2C <br>
                    Product + Service Vision <br>
                    Go-To-Market Planning <br>
                    Data Science + Analytics
                </p>
            </div>
            <div>
                <h4>User Experience</h4>
                <p>Experience Strategy <br>
                    eCommerce + Websites <br>
                    Digital Product + Services <br>
                    Design Systems + Style Guides <br>
                    iOS + Android Applications <br>
                    Prototyping & Optimizatione <br>
                </p>
            </div>
            <div id="y_5" > 
                <h4>Brand Experience</h4>
                <p>Identity + Positioning <br>
                    Visual Language + Art Direction <br>
                    Design Production + Execution <br>
                    Brand Messaging <br>
                    Brand Guidelines + Playbooks <br>
                    Campaign Development <br>
                </p>
            </div>
            <div>
                <h4>Technology</h4>
                <p>Technical Discovery
                    Technical Architecture
                    Full-Stack Development
                    CMS Implementation
                    Quality Assurance
                    Campaign Development
                </p>
            </div>
            <div id="y_5">
                <h4>Content Creation</h4>
                <p>Content Strategy <br>
                    Art Direction <br>
                    Photography <br>
                    Video Production <br>
                    3D / Motion Graphics <br>
                    Copywriting
                </p>
            </div>
        </section>
        <hr>
        <section class="grid">
            <div><p>SEC.</p></div>
            <div><p>/C</p></div>
            <div id="point"><span>&#8226</span></div>
            <div ><h3>AWARDS</h3></div>
            <div>
                <h3 id="grid3Text">While results are what matter most, we believe awards bring value and recognition to organizations as well as individuals.</h3>
                <a class="buttons" href="">full awardelist</a>
            </div>
        </section>
        <section id="showPictures">
            <article>
                <div id="first">
                    <a href="">WEBBY AWARDS<sup>/40</sup></a>
                    <img  src="assets/img/hover-1.jpg" alt="">
                </div>
                <div id="first">
                    <a href="">ADWEEK<sup>/01</sup></a>
                    <img src="assets/img/hover-2.jpg" alt="">
                </div>
                <div id="first">
                    <a href="">AWWWARDS<sup>/22</sup></a>
                    <img src="assets/img/hover-3.jpg" alt="">
                </div>
                <div id="first">
                    <a href="">D&AD<sup>/01</sup></a>
                    <img src="assets/img/hover-4.jpg" alt="">
                </div>
                <div id="first">
                    <a href="">ONE SHOW<sup>/03</sup></a>
                    <img src="assets/img/hover-5.jpg" alt="">
                </div>
                <div id="first">
                    <a href="">THE FWA<sup>/07</sup></a>
                    <img src="assets/img/hover-6.jpg" alt="">
                </div>
            </article>
        </section>
    </main>









<style>
                body{
                font-family: 'Scto';
                background-image: url(../Img/base.png);
                background-color: #252422;
                color: #f9cdcd;
                overflow-x: hidden;
                }
                header a
                {
                color: #f9cdcd;
                }
                footer{
               
                background-color: #f4f4f4;
                 color: #252422;
                }
            #social a
                {
                    color: #252422;
                }
                #social span,#stay{
                 display: inline-block;
                background-color:black;
                border-radius: 50%;
                height: 15px;   
                width: 15px;
                margin-right: 5px;

                }
                
            #footer_2
                {
                background-color: #f4f4f4;
                color: #181817;
                }
                footer h3 a{
                color: #252422;
                }
</style>

    <%- include('./partials/footer2') %> 
    <script src="assets/js/mainIndex.js"></script>