<%- include('./partials/head') %> 


    <section id="hamburger" class="unshow"></section>
    <header id="header">
        <div><a href="/"><img src="assets/img/logo.svg" alt=""></a></div>
        <nav>
            <ul>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/thinking">Thinking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div><img src="assets/img/menu.svg" alt="" onclick="showHam()"></div>
    </header>

    <main>
        <section id="hero">
            <img src="assets/img/Contact-Header.jpg" alt="">
            <article>
                <h1>B®/<br>CONTACT</h1>
                <p id="easy">EASY TO UNDERSTAND.<br>IMPOSSIBLE TO IGNORE.™<br>BASIC®, INC 10 - 20©</p>
                <div>
                    <div><span></span></div>
                    <div>
                        <h4>NEW BUSINESS</h4>
                        <a href="">hi@mail.com</a>
                        <h4>Press</h4>
                        <a href="">hi@mail.com</a>
                    </div>
                    <div>
                        <h4>GENERAL</h4>
                        <a href="">hi@mail.com</a>
                        <h4>JOIN US</h4>
                        <a href="">hi@mail.com</a>
                    </div>
                </div>
            </article>
        </section>
        <hr class="firstHr">
        <section class="cards" id="firstSection">
            <article><p>SEC.</p></article>
            <article id="A"><p>/A</p></article>
            <article class="punkt">&#8226</article>
        </section>
        <section class="cards">
            <article><h3>OFFICE</h3></article>
            <article>  
                <img src="assets/img/mtv.jpg" alt="">
                <div>
                    <h6>01</h6>
                    <h6>/03</h6>
                </div>
                <hr class="hr">
            </article>
            <article><h4>SAN DIEGO (HQ)</h4></article>
        </section>
        <section class="cards">
            <article></article>
            <article>
                <img src="assets/img/SD.jpg" alt="">
                <div>
                    <h6>02</h6>
                    <h6>/03</h6>
                </div>
                <hr class="hr">
            </article>
            <article><h4>BAY AREA</h4></article>
        </section>
        <section class="cards">
            <article></article>
            <article>
                <img src="assets/img/stl.jpg" alt="">
                <div>
                    <h6>03</h6>
                    <h6>/03</h6>
                </div>
                <hr class="hr">
            </article>
            <article><h4>ST.LOUIS</h4></article>
        </section> 
        <hr id="lastHR">     
        <section class="cards" id="lastSection">
            <article><p>SEC.</p></article>
            <article id="A"><p>/B</p></article>
            <article class="punkt">&#8226</article>
        </section>
        <section id="last">
            <div><h2>FOLLOW</h2></div>
            <div>
                <h2>SOCIAL</h2>
                <a href="">Instegram</a>
                <a href="">Twitter</a>
                <a href="">Linkedin</a>
                <a href="">Facebook</a>
            </div>
            <div>
                <h4>STAY IN THE KNOW</h4>
                <input type="email" name="" id="" placeholder="Email Address">
                <hr>
            </div>
        </section>
    </main>




    <%- include('./partials/footer') %> 
    <script src="assets/js/mainIndex.js"></script>