<%- include('./partials/head') %> 


    <section id="hamburger" class="unshow"></section>
    <header id="header">
        <div id="logo"><a href="/"><img src="assets/img/logo.svg" alt=""></a></div>
        <nav>
            <ul>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/thinking">Thinking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="menu"><img src="assets/img/menu.svg" alt="" onclick="showHam()"></div>
    </header>
    <main>
        <section id="hero_news">
            <h1>NEWS</h1>
            <div class="dot_news"></div>
        </section>
        <section id="cards_news">
            <hr>
            <article class="cards_news">
                <img src="assets/img/news1.jpg" alt="">
                <div>
                    <div><h6>CRAFTED® EMERGES AS A WINNER OF COMMUNICATION ARTS’ 26TH INTERACTIVE ANNUAL</h6></div>
                    <div><p>AWARD <span></span>02.25.20</p></div>
                </div>
                <div><img src="assets/img/arrow-black.svg" alt=""></div>
            </article>
            <hr>
            <article class="cards_news">
                <img src="assets/img/news2.jpg" alt="">
                <div>
                    <div><h6>AWWWARDS NOMINATES BASIC® FOR AGENCY OF THE YEAR AND TWO OTHER HONORS</h6></div>
                    <div><p>AWARDS<span></span>01.10.20</p></div>
                </div>
                <div><img src="assets/img/arrow-black.svg" alt=""></div>
            </article>
            <hr>
            <article class="cards_news">
                <img src="assets/img/news3.jpg" alt="">
                <div>
                    <div><h6>THE WEBBY AWARDS SELECT BASIC® TO RETHINK THE FUTURE OF THEIR BRAND AND DIGITAL h6LATFORM</p></div>
                    <div><p>WORK<span></span>12.12.19</p></div>
                </div>
                <div><img src="assets/img/arrow-black.svg" alt=""></div>
            </article>
            <hr>
            <article class="cards_news">
                <img src="assets/img/Adweek.jpg" alt="">
                <div>
                    <div><h6>BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek</h6></div>
                    <div><p>PRESS<span></span>09.05.19</p></div>
                </div>
                <div><img src="assets/img/arrow-black.svg" alt=""></div>
            </article>
            <hr>
            <article class="cards_news">
                <img src="assets/img/Furrion-Partnership.jpg" alt="">
                <div>
                    <div><h6>BASIC® and Furrion h6artner to launch all new eCommerce website built for a D2C future</p></div>
                    <div><p>WORK<span></span>08.09.19</p></div>
                </div>
                <div><img src="assets/img/arrow-black.svg" alt=""></div>
            </article>
        </section>
    </main>
    <style>
        body{
            background: none;
        }
    </style>











    <%- include('./partials/footer') %> 
    <script src="assets/js/mainIndex.js"></script>