<%- include('./partials/head') %> 



    <section id="hamburger" class="unshow"></section>
    <header id="header">
        <div id="logo"><a href="/"><img src="assets/img/logo.svg" alt=""></a></div>
        <nav>
            <ul>
                <li><a href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/thinking">Thinking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="menu"><img src="assets/img/menu.svg" alt="" onclick="showHam()"></div>
    </header>










    <%- include('./partials/footer') %> 
    <script src="assets/js/mainIndex.js"></script>