<%- include('./partials/head') %> 



    <section id="hamburger" class="unshow"></section>
    <header id="header">
        <div id="logo"><a href="/"><img src="assets/img/logo.svg" alt=""></a></div>
        <nav>
            <ul>
                <li><a class="unter_lind" href="/work">Work</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/thinking">Thinking</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="menu"><img src="assets/img/menu.svg" alt="" onclick="showHam()"></div>
    </header>
    <main>
        <section id="first_work">
            <h1>EASY TO<br>UNDERSTAND.<br><div class="dot"></div>IMPOSSIBLE<br>TO IGNORE.</h1>
            <div><p>The work we create lives at the intersection of clarity and surprise and positions brands in culture through shared values and ideals.</p></div>
        </section>
        <hr>
        <section class="cards_work">
            <article>
                <h6>01/04</h6>
                <h3>BRANDED ECOMMERCE</h3>
                <h6>We go beyond best practices and build best-in-class D2C channels that drive commerce, shape culture, and define categories.</h6>
                <a class="buttons_work" href="">Learn More</a>
            </article>
            <article>
                <video src="assets/img/Google-Store.mp4" autoplay muted loop></video>
                <h4>Google Store</h4>
                <p>AN ECOMMERCE EXPERIENCE HELPING GOOGLE BRING ITS HARDWARE TO PEOPLE ACROSS THE GLOBE</p>
            </article>
            <article>
                <img src="assets/img/Beats.jpg" alt="">
                <h4>Beats By Dre</h4>
                <p>ENGINEERING A DIGITAL DESTINATION THAT MOVES AT THE SPEED OF CULTURE</p>
            </article>
        </section>
        <hr>
        <section class="cards_work">
            <article>
                <h6>02/04</h6>
                <h3>DIGITAL <br>
                    PRODUCTS+ <br>
                    SERVICES
                    </h3>
                <h6>We identify and create digital products and services that create revenue channels and help brands thrive in the new economy.</h6>
                <a class="buttons_work" href="">Learn More</a>
            </article>
            <article>
                <img src="assets/img/Fender.jpg" alt="">
                <h4>Fender Academy</h4>
                <p>A WEB SERVICE TO MAKE SALES TRAINING FEEL LESS LIKE WORK AND MORE LIKE PLAY
                    American Express
                    </p>
            </article>
            <article>
                <img src="assets/img/AMEX.jpg" alt="">
                <h4>American Express</h4>
                <p>LAYING A DESIGN FOUNDATION FOR FUTURE PRODUCTS AND SERVICES WITH THE OPEN APP</p>
            </article>
        </section>
        <hr>
        <section class="cards_work">
            <article>
                <h6>03/04</h6>
                <h3>WEBSITES + PLATFORMS</h3>
                <h6>We conceive and create experiences that immerse consumers in the brand through a combination of utility and creativity.</h6>
                <a class="buttons_work" href="">Learn More</a>
            </article>
            <article>
                <img src="assets/img/Riot.jpg" alt="">
                <h4>Riot Games</h4>
                <p>REVITALIZING THE RIOT GAMES BRAND WITH AN UPGRADED DIGITAL EXPERIENCE</p>
            </article>
            <article>
                <img src="assets/img/Softbank.jpg" alt="">
                <h4>SoftBank Vision Fund</h4>
                <p>BUILDING A DIGITAL DESTINATION FOR THE LEADING TECH INVESTMENT FUND</p>
            </article>
        </section>
        <hr>
        <section class="cards_work">
            <article>
                <h6>04/04</h6>
                <h3>BRANDING + ADVERTISING</h3>
                <h6>We create identities, platforms, and activations that differentiate brands and position them to matter in culture.</h6>
                <a class="buttons_work" href="">Learn More</a>
            </article>
            <article>
                <img src="assets/img/Softbank.jpg" alt="">
                <h4>Nerd More</h4>
                <p>DEVELOPING A BRAND THAT BROUGHT SCIENCE TO BEAUTY IN BOLD, UNEXPECTED WAYS</p>
            </article>
            <article>
                <img src="assets/img/Beats.jpg" alt="">
                <h4>Brixton</h4>
                <p>HONORING THE PAST TO BUILD THE FUTURE OF THE BRIXTON BRAND</p>
            </article>
        </section>
    </main>

 <style>
     .unter_lind{
         text-decoration: underline;
     }
 </style>








    <%- include('./partials/footer') %> 
    <script src="assets/js/mainIndex.js"></script>